body {
    background-image: url('../../assets/carousel-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
}

.card-header {
    background-color: #dc3545;
    color: #000000;
}

.btn-primary {
    background-color: #dc3545;
    color: #000000;
}

.btn-light {
    background-color: #ffffff;
    color: #000000;
}


.btn-space {
    margin-right: 10px;
}


.btn-primary.btn-space {
    margin-right: 10px;
}

.btn-space {
    margin-right: 10px;
}

.btn-primary.btn-space {
    margin-right: 10px;
}

.text-center {
    display: flex;
    justify-content: center;
}

.btn-primary:active,
.btn-primary:focus {
    background-color: #dc3545;
    color: #000000;
}