.text-primary,
.text-primary h4 {
    color: red !important;
}

.bg-black {
    background-color: black !important;
}

.bg-red {
    background-color: red !important;
}
.carousel-item.active h3.text-primary {
    color: red !important;
}
.feature .d-flex.flex-column.text-center.mb-5 h4.text-primary {
    color: red !important;
}


